
*.cmd
*.gz
*.js
*.ps1
*.js
*.ts
*.md
*.json
*.json
*.css
*.yml
*.yml
*.tsx
*.bnf
*.flow
*.map
*.sh
*.tgz

.idea/
.vscode/
node_modules/
build
.DS_Store
*.tgz
my-app*
template/src/__tests__/__snapshots__/
lerna-debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.changelog
.npm/
yarn.lock